/* Nollställ färger */
html, body, #header, #wrapper, #footerwrapper, #contentwrapper {
	background: white;
	color: black;
}
#nav, #tilltoppen {
	display: none;
}

/* Nollställ positioner */
#wrapper {
	position: relative;
	left: 0;
	margin-left: 0;
	width: 100%;
}

#content, #footer {
	width: 100%;
	margin: 0;
}

#header, #contentwrapper, #footerwrapper {
	float: none;
}

/* Fixa headern */
#header {
	width: 100%;
	height: auto;
	margin-top: 0;
	border-bottom: 1px solid black;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	text-align: center;
}

#header h1 {
	width: 100%;
	height: auto;
	margin: 0;
}
#header h1 a {
	display: inline;
	width: auto;
	height: auto;
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 28px;
}
#header h1 a span {
	display: inline;
	text-indent: 0;;
}

/* Footern */

#footerwrapper {
	width: 100%;
	margin-top: 1em;
	border-top: 1px solid black;
	margin-bottom: 1em;
}

/* Fixa länkar */
a:link, a:visited {
	color: #520;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
}

a[href=""]:after,
a[href="\"]:after {
	content: "";
}

a:link:after, 
a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
}

a[href^="/"]:after {
  content: " (http://www.äppelblomman.se" attr(href) ") ";
}
