html {
	font: 0.8125em Verdana, sans-serif;
	line-height: 1;
}

body {
	font-size: 0.9em;
}

h1,h2,h3,h4,h5,h6,h7 {
	font-family: Georgia, "Times New Roman", serif;
	margin: 0.6em 0em 0.5em;
	font-weight: normal;
	clear: left;
}

h2 {
	margin-top: 1em;
	font-size: 2.8em;
}

h3 {
	font-size: 2.5em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.8em;
}

h6 {
	font-size: 1.5em;
}

p {
	line-height: 1.8em;
	margin-bottom: 1em;
}

#content ul, #content ol {
	list-style: circle outside;
	margin: 1em 1em;
}

#content li {
	margin: 0.5em 0 0 0.5em;
	line-height: 1.8em;
}