#header {
	background-image: url('../img/ie6_header.jpg');
}

#content {
	margin-left: 30px;
	width: 450px;
}

#nav {
	margin-right: 10px;
}

#contentwrapper {
	background-image: url('../img/ie6_content.png');
}
#footerwrapper {
	background-image: url('../img/ie6_footer.png');
	margin-left: 0px;
}