a img {
	border: 0;
}

img {
	padding: 5px 15px 15px 10px;
}

img.icon {
	padding: 0px;
	margin: 0px;
	display: inline;
}

/* Meny-special */
img[width="150"] {
	background: #fff url('../img/150x100.png') no-repeat scroll top left;
}

/* Vertikal */
img[width="200"] {
	background: #fff url('../img/200x300.png') no-repeat scroll top left;
}

/* Horisontell */
img[width="300"] {
	background: #fff url('../img/300x200.png') no-repeat scroll top left;
}
img[width="130"] {
	background: #fff url('../img/130x97.png') no-repeat scroll top left;
}
img[width="130"][height="86"] {
	background: #fff url('../img/130x86.png') no-repeat scroll top left;
}
img[width="130"][height="97"] {
	background: #fff url('../img/130x97.png') no-repeat scroll top left;
}
img[width="130"][height="112"] {
	background: #fff url('../img/130x112.png') no-repeat scroll top left;
}

/** Galleribilder */
.gallery_image {
	position: relative;
	width: 160px;
	float: left;
	clear: none;
	margin-right: 1em;
	margin-bottom: 1em;
}
.gallery_image.left {
	float: left;
	clear: left;
}
.gallery_image.right {
	float: right;
	clear: right;
}
.gallery_image.center {
	float: none;
	clear: left;
	width: 100%;
	text-align: center;
}
	.gallery_image strong {
		display: block;
		margin: 0 10px 0 10px;
		text-align: center;
	}
	.gallery_image p {
		margin: 0 10px 10px 10px;
		font-size: 0.8em;
		line-height: 1.2em;
		overflow: auto;
		height: 6em;
	}
	.gallery_image .options {
		position: absolute;
		right: 17px;
		top: 17px;
	}
	.gallery_image .options a {
		display: block;
	}

hr {
	visibility:hidden;
	clear: both;
}
