			</div>
			<div id="footerwrapper">
				<div id="footer">
					<p style="float: right" id="tilltoppen"><a href="#top">Till toppen</a></p>

					<p>Alla rättigheter till innehållet på den här webbsidan tillhör Gun Nycander.</p>
				</div>
			</div>
	</div>
	<script type="text/javascript">

	$("a[rel=galleri]").colorbox({
		maxWidth : '80%',
		maxHeight : '80%',
		previous : 'Föregående',
		next : 'Nästa',
		close :	'Stäng',
		current : 'Bild {current} av {total}',
		scrollbars : false
	});
	</script>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-4747537-1");
		pageTracker._initData();
		pageTracker._trackPageview();
	</script>
</body>

</html>
